node_modules
.env

# Hardhat files
/cache
/artifacts

# Production deployment addresses
.deployed-addresses.json

# Local development files
.DS_Store
*.swp
*.swo

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
